{% extends 'common.html' %}
{% load static %}
{% block header %}

<style>
 /* .radio{
    height: 30px;
    width: 30px;
 } */
 /* label{
    position: relative;
    bottom: 10px;
 } */
</style>
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-2"></div>
            
            <div class="col-lg-8 order-md-last d-flex">
                <form method="post" enctype="multipart/form-data" class="p-5 contact-form" style="background-color: rgb(225, 235, 243); border-radius: 10px;">
                    {% csrf_token %}
                    <center><h2><b>Advocate Registration</b></h2><br></center>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                        title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" name="password" placeholder="Your Password" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" maxlength="10" minlength="10" required pattern="[6789][0-9]{9}" name="phone" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label for="">Date of Birth</label>
                        <input type="date" class="form-control" min="1980-01-02" required max="2005-12-31" name="dob" placeholder="DOB">
                    </div>
                    <select style="margin-bottom: 13px;" name="district" class="form-control" id="">
                        <option value="" selected disabled>Select District</option>
                        <option value="Alappuzha">Alappuzha</option>
                        <option value="Idukki">Idukki</option>
                        <option value="Ernakulam">Ernakulam</option>
                        <option value="Palakkad">Palakkad</option>
                        <option value="Kannur">Kannur</option>
                        <option value="Kasargod">Kasargod</option>
                        <option value="Kozhikode">Kozhikode</option>
                        <option value="Kottayam">Kottayam</option>
                        <option value="Kollam">Kollam</option>
                        <option value="Thrissur">Thrissur</option>
                        <option value="Pathanamthitta">Pathanamthitta</option>
                        <option value="Malappuram">Malappuram</option>
                        <option value="Wayanad">Wayanad </option>
                        <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                    </select>
                    <select name="education" style="margin-bottom: 13px;" class="form-control" id="">
                        <option value="" selected disabled>Select Education</option>
                        <option value="LLB">LLB</option>
                        <option value="BA_LLM">BA LLM</option>
                        <option value="BA LLB">BA LLB</option>
                        <!-- <option value="bankruptcy">bankruptcy</option> -->
                        <!-- <option value="Thiruvananthapuram">Thiruvananthapuram</option> -->
                    </select>
                    <select name="cases" style="margin-bottom: 13px;" class="form-control" id="">
                        <option value="" selected disabled>Select Category</option>
                        {% for i in  view %}
                        <option value="{{i.Category}}">{{i.Category}}</option>
                        {% endfor %}
                        <!-- <option value="Thiruvananthapuram">Thiruvananthapuram</option> -->
                    </select>
                    <div class="form-group">
                        
                        <label for="gender">Male</label>
                        <input type="radio" class="radio" value="male" required name="gender" placeholder="Aadhaar Number">
                        <label for="gender">Female</label>
                        <input type="radio" class="radio" name="gender" required value="female" placeholder="Aadhaar Number">
                        <label for="gender">Others</label>
                        <input type="radio" class="radio" name="gender" required value="others" placeholder="Aadhaar Number">
                    </div>
                    <div class="form-group">
                        <label for="">Profile Image</label>
                        <input type="file" class="form-control" name="image" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="">Files or Certificates</label>
                        <input type="file" class="form-control" name="files" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <textarea id="" cols="30" name="address" rows="5" required class="form-control"
                            placeholder="Address"></textarea>
                    </div>
                    <center>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-danger py-3 px-5">
                    </div>
                </center>
                </form>

            </div>

           
        </div>
    </div>
</section>

{% endblock %}
