{% extends 'common.html' %}
{% load static %}
{% block header %}

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-2"></div>
            
            <div class="col-lg-8 order-md-last d-flex">
                <form method="post" enctype="multipart/form-data" class="p-5 contact-form" style="background-color: rgb(225, 235, 243); border-radius: 10px;">
                    {% csrf_token %}
                    <center><h2><b>Login</b></h2><br></center>
                    <div class="form-group">
                        <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" placeholder="Your Email" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Your Password" required>
                    </div>
                    
                    <center>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-danger py-3 px-5">
                    </div>
                </center>
                </form>

            </div>

           
        </div>
    </div>
</section>


{% endblock %}