{% extends 'User/common.html' %}
{% load static %}
{% block header %}

{% for i in view  %}

<div class="card text-center">
    <div class="card-header">Petitionar : {{i.user.name}}</div>
    <div class="card-body">
        <h5 class="card-title">ADV : <b>{{i.advocate.name}}</b></h5>
        <p class="card-text">Details : {{i.desc}}</p>
        <p class="card-text"> Case status : {{i.rid.status}}</p>
        <p class="card-text">Fees : {{i.fees}}</p>
        <a href="/static/media/{{i.file}}" class="btn btn-outline-warning">View File </a>
        {% if i.status == "Not_Paid" %}
        <a href="/payment_page?amt={{i.fees}}&cid={{i.id}}" class="btn btn-outline-dark">Pay now</a>

        {% else %}
        <a class="btn btn-outline-primary">Payment Completed</a>
        
        {% endif %}
    </div>
    <div class="card-footer text-muted"></div>
</div>
{% endfor %}


{% endblock %}